<div class="create-map">
      <form id="create-map-form" method="POST" action="/new-map">
        <h1>Create a new map</h1>
        <input id="map-name" type="text" name="map-name" placeholder="Enter your map title" style="width: 300px">
        <input id="map-data" type="hidden" name='map-data'>
        <input class="create-map-submit" type="submit" name="Save map">
      </form>
</div>
