 <div class="logo">
          <a href="/">  <span> SMAPPY<i class="fa fa-globe"></i></span></a>
 </div>

          <div class="login-button">
            <% if (loggedIn) { %>
              <button> profile</button>
            <%  } else  {%>
            <button> login/register</button>
            <%  }  %>


          </div>
<!--         <form action="/logout" method="POST">
          <input type="submit"   class="button" value="Logout">
        </form> -->
