 <div class="logo">
            <img  src="images/logo.png" >
          </div>


          <div class="login-button">
            <button> login/register</button>
            <button> profile</button>
          </div>




      </header>