 <div class="logo">
          <a href="/">  <span> SMAPPY<i class="fa fa-globe"></i></span></a>
          </div>

          <div class="login-button">
            <% if (loggedIn) { %>
              <button> profile</button>
            <%  } else  {%>
            <button> login/register</button>
            <%  }  %>


      <div class="pop-down-login">
          <% if (errors.length) { %>
            <% errors.forEach((error) => { %>
              <p class="error"><%= error %></p>
            <% }) %>
          <%} %>
        <div class="login">
          <h4>LOGIN</h4>
          <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="password">
            <input class="login-button" type="submit" value="Submit">
          </form>
        </div>
        <div class="register">
          <h4>REGISTER</h4>
          <form action="/register" method="POST">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="Password">
          <input type="submit"  class="register-button" value="Submit">
          </form>
        </div>

      </div>
</div>

<!--         <form action="/logout" method="POST">
          <input type="submit"   class="button" value="Logout">
        </form> -->
