 <div class="logo">
          <a href="/">  <span> SMAPPY<i class="fa fa-globe"></i></span></a>
          </div>


          <div class="login-button">
            <button> login/register</button>
            <button> profile</button>
          </div>






      </header>
