 <div class="logo">
            <span> SMAPPY<i class="fa fa-globe"></i></span>
          </div>


          <div class="login-button">
            <button> login/register</button>
            <button> profile</button>
          </div>




      </header>