 <div class="pop-down-login">
      <div class="login">
        <span> LOGIN</span>
        <form action="/login" method="POST">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="password">
          <input type="submit" value="Submit">
        </form>
      </div>
      <div class="register">
        <span>REGISTER</span>
        <form action="/register" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
        </form>
      </div>

      <form action="/logout" method="POST">
        <input type="submit" value="Logout">
      </form>

  </div>
