<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
 <!-- icons -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- icon in compose button-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
        <header>
<%= include partials/_header %>

        </header>

<div >
<!-- map area -->

    <div class="left-nav">

      <div>
        <button> Create New </button>
        <div class="favourite-maps">
          <h3>Favourite Maps</h3>
          <ul>
            <li> <!-- links for favourite maps from database -->dummy text link</li>
            <li> <!-- list of all maps from database -->dummy text link</li>
            <li> <!-- list of all maps from database -->dummy text link</li>
            <li> <!-- list of all maps from database -->dummy text link</li>
          </ul>
        </div>
        <div class="all-maps">
          <h3> All Maps</h3>
          <ul>
            <li> <!-- list of all maps from database -->dummy text link</li>
            <li> <!-- list of all maps from database -->dummy text link</li>
            <li> <!-- list of all maps from database -->dummy text link</li>
            <li> <!-- list of all maps from database -->dummy text link</li>
            <li> <!-- list of all maps from database -->dummy text link</li>
          </ul>

        </div>


      </div>

       <i class="fa fa-arrow-circle-left" style="font-size:20px;"></i>
    </div>
<!-- end of left nav -->
<!-- starts hidden -->


<%= include partials/_pop-down-login %>



  <div class="marker-info">
    <input class="map-title" type="text" placeholder="Map title">
    <textarea  col="50" placeholder="Map description"></textarea>
   <div class="upload-button">
    <button>upload image</button>
   </div>
  <div class="buttons">
    <button>save</button>
    <button>cancel</button>
    <button>delete</button>
  </div>

</div>




</div>
  <footer>
   <%= include partials/_footer %>
  </footer>

  </body>
</html>
