<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">
</head>
<body>

  <header>
    <% include ./partials/_header %>
  </header>
  <% include ./partials/_pop-down-login %>

</body>
</html>
