<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A Map</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <script type="text/javascript">
      // imports the dataTemplate data from server.js and makes it available to js files
      var map_data = '<%- data %>';
      console.log(<%- data %>);
    </script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/toggle.js"></script>
    <script type="text/javascript" src="/scripts/map.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
    <script type="text/javascript" src="/scripts/add-to-favourites.js"></script>

  </head>

  <body>
    <header>
       <% include ./partials/_header.ejs %>
    </header>

<!-- map area -->


 <div id="googleMap">
      <div id="datactrl">
        <input type="button" id="data-save" value="save" />
        <input type="button" id="data-show" value="show saved data" />
        <input type="button" id="data-load" value="load saved data" />
        <input type="button" id="data-clear" value="remove all data" />
      </div>
    </div>
    <div class="pop-down-login">
      <% if (errors.length) { %>
        <% errors.forEach((error) => { %>
          <p class="error"><%= error %></p>
        <% }) %>
      <%} %>
      <div class="login">
        <h4>LOGIN</h4>
        <form action="/login" method="POST">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="password">
          <input class="button" type="submit" value="Submit">
        </form>
      </div>
      <div class="register">
        <h4>REGISTER</h4>
        <form action="/register" method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit"  class="button" value="Submit">
        </form>
      </div>
    </div>
    <% include ./partials/_logout.ejs %>



    <div class="left-nav-container">

      <div class="left-nav">
        <div class="toggle-button"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        <% if (loggedIn) { %>
         <a class="button" href="/new-map" style="text-decoration:none;">Create a new map</a>

        <%  } %>

        <div class="favourite-maps">
          <h3>Favourite Maps</h3>
          <a id="favourite-map">Add Map To Favourites</a>
          <ul class="favourite-maps-list">
          </ul>
        </div>
        <div class="all-maps">
          <h3> All Maps</h3>
          <ul class="all-maps-list">
          </ul>
        </div>
      </div>
    </div>
    <!-- end of left nav -->
    <!-- starts hidden -->


  <div class="marker-info">
    <input class="marker-title" type="text" placeholder="Marker title">
    <textarea  class="marker-description" col="50" placeholder="Marker description"></textarea>
    <input class="picture-url" type="text" placeholder="Please share a url for a picture of this location">

    <div class="buttons">
      <button class="save-button">save</button>
      <button class="cancel-button">cancel</button>
    </div>
  </div>

  <div class="update-marker">
    <input class="update-marker-title" type="text" placeholder="Marker title">
    <textarea  class="update-marker-description" col="50" placeholder="Marker description"></textarea>
    <input class="update-picture-url" type="text" placeholder="Please share a url for a picture of this location">

    <div class="buttons">
      <button class="update-button">update</button>
      <button class="delete-button">delete</button>
    </div>
  </div>

  <div class="markers-list">
  </div>

  <footer>
    <% include ./partials/_footer.ejs %>
  </footer>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-SheEDWF9WCljdS9aO5YELMTjdqjb-tE&callback=initMap" type="text/javascript"></script>

  </body>
</html>
