<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create New Map</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <script type="text/javascript" src="/scripts/new-map.js"></script>

  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

      <div class="left-nav">
        <div>
          <form method="POST" action="">
            <h1>Create a new map</h1>
            <div class="in-form">
            <label for="autocomplete">Location</label>
            <input class="create-inputs" id="autocomplete" type="text" placeholder="Enter your map location"
             onFocus="geolocate()" >
             <br>
            <label for="map-name">Title</label>
            <input id="map-name"  class="create-inputs" type="text" name="map-name" placeholder="Enter your map title" >


           </div>
          </form>
        </div>
      </div>
    <footer>
      <% include ./partials/_footer.ejs %>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-SheEDWF9WCljdS9aO5YELMTjdqjb-tE&libraries=places&callback=initAutocomplete"
    async defer></script>

  </body>
</html>
