<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create New Map</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/scripts/toggle.js"></script>
    <script type="text/javascript" src="/scripts/new-map.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

      <% include ./partials/_pop-down-login %>

    <div class="create-map">
      <form id="create-map-form" method="POST" action="/new-map">
        <h1>Create a new map</h1>
        <label for="map-name">Name</label>
        <input id="map-name" type="text" name="map-name" placeholder="Enter your map title" style="width: 300px">
        <input id="map-data" type="hidden" name='map-data'>
        <input class="create-map-submit" type="submit" name="Save map">
      </form>
    </div>

    <input id="pac-input" class="controls" type="text" placeholder="Enter your location" style="width: 300px">
    <div id="googleMap"></div>


    <footer>
      <% include ./partials/_footer.ejs %>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-SheEDWF9WCljdS9aO5YELMTjdqjb-tE&libraries=places&callback=initAutocomplete"
    async defer></script>

  </body>
</html>
