<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/jquery.flash.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">

    <script type="text/javascript">
      // imports the dataTemplate data from server.js and makes it available to js files
      var map_data = false;
    </script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/toggle.js"></script>
    <script type="text/javascript" src="/scripts/map.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
    <script type="text/javascript" src="/scripts/jquery.flash.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/scripts/profile.js"></script>


  </head>


  <body>

      <header>
        <% include ./partials/_header.ejs %>
      </header>

    <div class="user-info" data="<%=userid%>">
<% include ./partials/_logout %>

<div class="full-profile-page">
  <div class="profile-container">
    <div class="user-info">
      <!-- show user infor -->
    </div>

    <div class="favorite">
      <h2>Your Favorite Maps</h2>
      <!-- profile.js will make this list from DB -->
    </div>

    <div class="contributions">
      <h2>Maps you've contributed to</h2>
      <!-- profile.js will make this list from DB -->
    </div>


    <form id="profile-form">
    <div class="edit-profile-inputs">
        <h2>Edit profile information</h2>
        <input type="text" name="user_name" placeholder="User Name">
        <input type="text" name="user_location" placeholder="Your City">
        <textarea rows="5" name="user_descripton" placeholder="Tell Us About Yourself"></textarea>
        <input id="profile-submit" type="submit" class="button" value="Save info">
    </form>


    </div>

  </div>
</div>
    <footer>
      <% include ./partials/_footer.ejs %>
    </footer>
  </body>

</html>
