<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/profile.js"></script>
  </head>


  <body>

      <header>
        <% include ./partials/_header.ejs %>
      </header>

    <div class="user-info">
      <!-- show user infor -->
    </div>

    <div class="favorite">
      <h2>Your Favorite Maps</h2>
      <!-- profile.js will make this list from DB -->
    </div>

    <div class="contributions">
      <h2>Maps you've contributed to</h2>
      <!-- profile.js will make this list from DB -->
    </div>


    <footer>
      <% include ./partials/_footer.ejs %>
    </footer>
  </body>

</html>