<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/profile.js"></script>
  </head>

  <header>Insert header partial here </header>

  <body>
    <h1>Hello user</h1>

    <div class="favorite">
      <h2>Your Favorite Maps</h2>
      <!-- profile.js will make this list from DB -->
    </div>

    <div class="contributions">
      <h2>Maps you've contributed to</h2>
      <!-- profile.js will make this list from DB -->
    </div>

  </body>

  <footer>  Insert the footer partial here  </footer>
</html>