
//refs
//
$boxBG: rgba(250,250,250,0.7);

$logoFont : monospace;




body {
  font-family: 'Raleway', sans-serif;
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}




header{
  //display:flex;
   padding:10px;
   background: #8effa3;
   border-bottom: solid 4px white;

   button {
  background: #fff;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -moz-linear-gradient(top, #fff, #fff);
  background-image: -ms-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(to bottom, #fff, #fff);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  border:none;
  font-family: Arial;
  color: #8effa3;
  font-size: 15px;
  padding: 10px 20px ;
  text-decoration: none;
  letter-spacing: 1px;


}

button:hover {
  background: #daf0e4;
  text-decoration: none;
}
 }

 html, body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.button-holder {
    float: right;
    display: block;
    text-align: right;
    margin-right: 10px;
}

.profile-icon{
    color: white;
    font-size: 30px;
    cursor:pointer;
}

.pop-down-logout{
    display:none;
    width: 300px;
    background: rgba(250,250,250,0.7);
    border: solid 1px white;
    float: right;
    position: relative;
    padding:10px;


     .button{padding: 10px;
    background: #88f4a4;
    color: white;
    width: 32%;

    &:hover{ background: #daf0e4;
    text-decoration: none;}
  }}

.logo{display:inline-block;}
.logo img{max-width:60px;}

.left-nav-container {
  width: 300px;
  margin: 0px;
  display: inline-block;
  z-index: 10;
}

.left-nav {
    width: 300px;
    background: $boxBG;
    height: 100%;
    border: solid 1px white;
    float: left;
    position: absolute;

    .button{
      font-size:15px;
      background-color:ghostwhite;
      padding:10px;
      border:none;
      display:block;
      width:100%;
      text-align: center;
    }
    .button:hover{
        background-color: purple;
        color:white;
    }

    h3 {
    font-size: 1.75rem;
    margin-top: 10px;
    margin: auto;
    padding-top: 12px;
    padding-left: 12px;
  }
}


.left-nav button {
    width: 100%;
}
.left-nav i{
    float: right;
    padding-right: 10px;
}


.marker-info {
    position: relative;
    background-color: $boxBG;
    float: right;
    width: 500px;
    padding: 10px;
    visibility: hidden;
}

.marker-info input{
  display:block;
  margin: 10px 0 ;

}

.buttons button{width:32%;}

textarea, .map-title{width:98%;}

.upload-button {
    margin-bottom: 10px;
}

.upload-button  button {width:32%;}

.favourite-maps, .all-maps{
  border-bottom: solid 1px white;
  ul {padding:10px;}
  li{list-style:none; padding: 5px;}
}

footer {
    background: #fff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    padding: 5px;
    width: 100%;
    color: #88f4a4;
    font-size: 20px;
    font-family: $logoFont ;
}

.pop-down-login {
    display:none;
    width: 300px;
    background: rgba(250,250,250,0.7);
    border: solid 1px white;
    float: right;
    position: relative;
    padding:10px;


     .button{padding: 10px;
    background: #88f4a4;
    color: white;
    width: 32%;

    &:hover{ background: #daf0e4;
    text-decoration: none;}
  }


  input{width:95%; margin:10px 0;padding: 10px;}

 }

.fa-rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.arrow-button {
  display: inline-block;
  position: relative;
}

#googleMap {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
}

#datactrl{top:10px;}

.logo{
    margin-left: 5%;
    font-size: 30px;
    font-family: $logoFont ;
    font-weight: 900;
    color: white;
    letter-spacing: 3px;

    i {margin-left:8px;}

    a, a:hover{color:#fff;
      text-decoration: none;
    }

}
.in-form{
  padding:10px;

  .create-inputs {
    width: 95%;
    border-radius: 5px;
    margin: auto;
    border-style: none;
    padding: 5px;
    display: block;
  }
}

.upload-button button , .buttons button{
    width: 32%;
    padding: 10px;
    background: #88f4a4;
    color: white;
}

.upload-button button:hover, .buttons button:hover{
    background: #daf0e4;
    text-decoration: none;
}

.buttons {

  button:nth-child(2){background-color: #ccc;}

  button:nth-child(2):hover{background-color:#888;}

  button:nth-child(3) {
    color: white;
    background: magenta;
  }

  button:nth-child(3):hover{background-color:#993fa7;}
}

.profile-container{
  background-color: $boxBG;
  width:50%;
  margin:auto;
  padding:10px;
}
